<div class="menu">

  <!-- <div class="menu_logo">
    <a class="logo" routerLink="/">Logo</a>
  </div> -->
  
  <div class="menu_secciones">
    <ul>
      <li><a routerLink="/nosotros">NOSOTROS</a></li>
      <li><a routerLink="/servicios">SERVICIOS</a></li>
      <li><a routerLink="/contacto">CONTACTO</a></li>
      <li><a routerLink="/blog">BLOG</a></li>
    </ul>
  </div> 

</div>

<div class="jumbotron">
  <div class="jumbotron_titulo">
    <h1><a class="logo" routerLink="/">FincasVALENCIA</a></h1>
  </div>
  <div class="jumbotron_eslogan">
    <p>Vuestra satisfacción, nuestra recompensa</p>
  </div>
</div>