<div class="container-fluid container-footer">
  <div class="d-flex">
    <div class="row">
      <div class="col-md-2 col-xs-0"></div>
      <div class="col-md-4 col-xs-6">
        <div class="contenido-footer-titulo">
          <p>Horario</p>
        </div>
        <div class="contenido-footer-texto">
          <p>Lunes a Viernes: de 8 a 19</p>
          <p>Sábados: de 9 a 14</p>
          <p>Domingos y festivos cerrados</p>
        </div>
      </div>
      <div class="col-md-4 col-xs-6">
        <div class="contenido-footer-titulo">
          <p>Enlaces de Interés</p>
        </div>
        <div class="contenido-footer-texto">
          <p><a class="footer-link" routerLink="/">Privacidad</a></p>
          <p><a class="footer-link" routerLink="/">Aviso Legal</a></p>
          <p><a class="footer-link" routerLink="/">Politica de Cookies</a></p>
          <p><a class="footer-link" routerLink="/contacto">Contacto</a></p>
        </div>
      </div>
      <div class="col-md-2 col-xs-0"></div>
    </div>
    <div class="row">
      <div class="rrss-panel">
        <div class="centered">
          Siguenos en nuestras RRSS
        </div>
        <div class="icons-row">
          <a href="https://www.google.es"><i class="fab fa-facebook-square fa-2x icon-color"></i></a>
          <a href="https://www.google.es"><i class="fab fa-twitter-square fa-2x icon-color"></i></a>
          <a href="https://www.google.es"><i class="fab fa-instagram-square fa-2x icon-color"></i></a>
          <a href="https://www.google.es"><i class="fab fa-youtube-square fa-2x icon-color"></i></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex">
        <div class="centered">
          <p>
            Copyright © 2020 <strong>Fincas Valencia</strong> Empresa Colegiada
            Nº 666
          </p>
        </div>
        <div class="centered">
          <p>Web producida por SpecialRED</p>
        </div>
      </div>
    </div>
  </div>
</div>
