<!-- <div class="contenedor">

  <div class="layout-servicios">

    <div class="layout-titulo">
      <div class="titulo">
        <h2>SERVICIOS</h2>
      </div>
    </div>

    <div class="layout-subtitulo">
      <div class="subtitulo">
        <h4>¿Qué ofrecemos?</h4>
      </div>
    </div>

    <div class="layout-servicio1">
      <div class="servicio">
        <mat-icon>group</mat-icon>
        <h4>LOS MEJORES PROFESIONALES</h4>
        <p>Contamos con personal con experiencia muy cualificado.</p>
      </div>
    </div>

    <div class="layout-servicio2">
      <div class="servicio">
        <mat-icon>star_border</mat-icon>
        <h4>PASIÓN POR NUESTRO TRABAJO</h4>
        <p>Disfrutamos realizando la gestión de las fincas.</p>
      </div>
    </div>

    <div class="layout-servicio3">
      <div class="servicio">
        <mat-icon> sentiment_satisfied_alt</mat-icon>
        <h4>TRABAJO BIEN HECHO</h4>
        <p>Siempre actuamos con la máxima diligencia y profesionalidad.</p>
      </div>
    </div>

    <div class="layout-servicio4">
      <div class="servicio">
        <mat-icon> attach_money</mat-icon>
        <h4>PRECIOS ASEQUIBLES</h4>
        <p>Disponemos de precios para todo tipo de fincas.</p>
      </div>
    </div>

    <div class="layout-servicio5">
      <div class="servicio">
        <mat-icon>school</mat-icon>
        <h4>TITULADOS Y CERTIFICADOS</h4>
        <p>Contamos con la titulación pertinente para ejercer desde la legalidad.</p>
      </div>
    </div>

    <div class="layout-servicio6">
      <div class="servicio">
        <mat-icon>thumb_up_alt</mat-icon>
        <h4>TRABAJO DURO</h4>
        <p>Siempre nos aseguramos de dar lo mejor de nosotros mismos.</p>
      </div>
    </div>

  </div> 

</div> -->


<div class="contenedor">
  <h1>EN DESARROLLO</h1>
</div>
<div class="contenedor">
  <h3>Disculpen las molestias</h3>
</div>