<div class="contenedor">

  <div class="layout_nosotros">

    <div class="layout_sobrenosotros">

      <div class="parrafo">

        <div class="titulo">

          <h2>Sobre Nosotros</h2>

        </div>

        <p>
          <strong>FincasValencia</strong> es una joven empresa valenciana dedicada a la administración de fincas, así como, diversos 
          trámites y gestiones relacionados con la administración de fincas. En nosotros encontrará un espíritu dinámico, un carácter emprendedor 
          y un trabajo constante.
        </p>

        <p>
          Nos diferenciamos de la competencia ofreciendo un trato directo en la
          gestión de comunidades. Nuestro punto fuerte es la atención personalizada que
          ofrecemos a cada cliente, a diferencia de la competencia, valoramos cada caso de manera individualizada. 
          Sabemos que la mejor publicidad es la del boca a boca y es por ello que ponemos muy alto el listón de nuestro 
          trabajo, al tiempo que mantenemos la cercanía con nuestros clientes.
        </p>

      </div>

    </div>

    <div class="layout_elegirnos">
      <div class="parrafo">

        <div class="titulo">

          <h2>¿Por qué elegirnos?</h2>

        </div>

          <p>
            Nuestra cultura y los valores que tenemos hacen que nos desmarquemos de la competencia 
            ofreciendo un trato directo en la gestión de comunidades. Nuestro punto fuerte es la atención 
            que ofrecemos a los clientes, sabemos que la mejor publicidad es la del boca a boca y es por ello 
            que ponemos muy alto el listón de nuestro trabajo, al mismo tiempo que mantenemos la cercanía con nuestros clientes.
          </p>

      </div>
    </div>

    <div class="layout_donde">
      <div class="parrafo">

        <div class="titulo">

          <h2>¿Dónde ofrecemos nuestros servicios?</h2>

        </div>

          <p>
            Ofrecemos nuestros servicios en toda la provincia de Valencia. También ofrecemos diversos servicios para el resto de provincias españolas. 
            Además, contamos con una oficina virtual que hace más ágil y sencilla la labor del administrador y nuestros clientes.
          </p>

      </div>
    </div>

    <div class="layout_gestion">
      <div class="parrafo">

        <div class="titulo">

          <h2>Gestión de la comunidad</h2>

        </div>

          <p>
            El administrador de fincas juega un papel clave cuando se trata de que los números cuadren (contabilidad), reclamar los 
            gastos de la comunidad a propietarios morosos, vecinos ilocalizables, redactar el certificado de cuentas de la comunidad, etc.
          </p>

          <p>
            Este trabajo puede resultar un tanto estresante y hay que contar con la persona adecuada, para ello, el administrador debe estar 
            totalmente preparado para situaciones incómodas que derivan de problemas y saber cómo actuar ante tales contratiempos. Esto es solo 
            una pequeña introducción de las diversas tareas que un buen administrador de fincas está capacitado para ejercer.
          </p>

      </div>
    </div>

    <div class="layout_colegiacion">

      <div class="parrafo">

        <div class="titulo">

          <h2>Colegiación</h2>

        </div>

        <p>
          Estamos colegiados en el Colegio Territorial de Administradores de Fincas Valencia-Castellón. 
          Entendemos que pertenecer a estos colectivos es fundamental en el desempeño de nuestras actividades 
          ya que nos permite trabajar dentro de un marco legal y  seguro.
        </p>

      </div>

    </div>

  </div>

</div>