<div class="container-fluid header-title">
  <div class="page-header" *ngIf="blogPost.length > 0">
    <!-- <img
      src="{{ blogPost[0].fields.thumbnail.fields.file.url }}"
      alt="{{ blogPost[0].fields.thumbnail.fields.file.title }}"
    /> -->
    <h2>{{ blogPost[0].fields.title }}</h2>
  </div>
</div>
<div class="container-fluid">
  <div class="col-xs-12 col-md-9">
    <div class="panel">
      <div class="container-fluid panel">
        <div class="panel-body" *ngIf="blogPost.length > 0">
          <div class="col-xs-12">
            <div class="panel-author-date">
              <span><span class="glyphicon glyphicon-user icon-color"></span> {{ blogPost[0].fields.autor }}</span>
              <span><span class="glyphicon glyphicon-time icon-color"></span> {{ createdDate | date: 'mediumDate' }}</span>
            </div>
            <div [innerHTML]="bodyString"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-3">
    <div class="panel">
      <div class="panel-heading">
        Echa un ojo a todas nuestras publicaciones
      </div>
      <div class="panel-body">
        <div class="list-group" *ngIf="dateTree.length > 0">
          <div *ngFor="let mes of dateTree" class="month-panel">
            <button
              class="list-group-item naranjito"
              (click)="onToggleMonth(mes)"
            >
              {{ mes.mesanyo }}
            </button>
            <div
              class="entries-panel"
              *ngIf="mes.activa === 'true'"
              [@postsMes]="mes.activa"
            >
              <div class="entry-link-container" *ngFor="let post of mes.posts">
                <a routerLink="/blog/{{ post.id }}">{{ post.titulo }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
